/*------------------------------------------

共通のデザインを管理するためのcss

------------------------------------------*/

/*------------------------------------------

色のベース
red: #F62B5D;
black: #5c5c5c;

キャンセル
背景：#fff
文字：black: #5c5c5c;

------------------------------------------*/

/*------------------------------------------

レイアウト調整 

------------------------------------------*/
/* paddingやmarginでのはみ出しを防止 */
body{
    box-sizing: border-box;
    color: #5c5c5c;
}

/* リンクのアンダーラインを消す */
a{
    text-decoration: none;
}

/* 画像から無駄な余白を削除 */
img{
    vertical-align:top;
}

/* 主にタイトルに使用 */
h1{
    font-size: 2.5vw;
    font-weight: bold;
}

/* 主にサブタイトルに使用 */
h2{
    font-size: 2.2vw;
}

/* 
特別な機能を付与しない共通のボタンに使用 
強調する場合などは色味や形を変更して上書きすること
*/
.btn{
    width: 13vw;
    height: 4.5vh;
    background-color: #298BAD;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 0.5rem;
}