h1 {
  text-align: center;
  padding: 20px 20px;
}

.contents {
  background-color: #f4f4f4;
}

.user_favorite {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.user_favorite_list {
  display: flex;
  padding: 3vh;
}

.user_favorite_list img{
  border-radius: 0.5rem;  
}

.project_title {
  color: #268cb6;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 10px 30px;
}

.project_contents {
  padding: 10px 10px 5px 30px;
}

a.go {
  color: white;
  font-weight: bold;
}

.reservation_button {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f62b5d;
  margin: 10px auto;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
