/*------------------------------------------

レイアウト調整 

------------------------------------------*/
/* paddingやmarginでのはみ出しを防止 */
body{
    box-sizing: border-box;
}

/* リンクのアンダーラインを消す */
a{
    text-decoration: none;
}

/* 画像から無駄な余白を削除 */
img{
    vertical-align:top;
}

/*------------------------------------------

ヘッダー

------------------------------------------*/
.header{
    height: 10vh;
    box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 0.879);
}

.header-box{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 4vw;
}

.logo{
    width: 11%;
}

.logo img{
    width: 100%;
}

.logo a{
    color: #5c5c5c;
}

.logo a:hover{
    opacity: 0.6;
}

.menu{
    display: flex;
}

.menu-list{
    margin: 2vh 3.5vh;
    font-size: 1vw;
    font-weight: bold;
}

.menu-list a{
    color: #5c5c5c;
}

.menu-list a:hover{
    opacity: 0.6;
}