.warp{
}

.message{
    padding: 2vw;
    height: 100vh;
}

.backhome{
    padding: 0 2vw;
}

.backhome a{
    text-decoration: none;
    color: #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
}
.thx_comment{
    text-align: center;
    margin: 30px;
}
