/*------------------------------------------

全体 

------------------------------------------*/
.wrap{
    line-height: 3vh;
}


/*------------------------------------------

※ヘッダーのレイアウトはheader.cssに記載 

------------------------------------------*/


/*------------------------------------------

ファーストビュー

------------------------------------------*/
.firstview{
    width: 100%;
    height: 75vh;
    position: relative;
    background-image: url("../background_img/top.png");
    background-size: cover;
}

.main-img img{
    width: 100%;
}

.firstview-text{
    position: absolute;
    top: 10%;
    left: 50%;
}

.firstview-text p{
    font-size: 3.5vw;
    font-weight: bold;
    color: #fff;
    margin: 2.8vw;
    letter-spacing: 0.5vw;
}

/*------------------------------------------

検索機能

------------------------------------------*/
.search{
    width: 50%;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 3vh;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 2vh;
}

.seach-select{
    margin: 1.5vw;
}


#search1{
    padding: 0.8vw;
    border-radius: 2vh;
    border: none;
}

#search3{
    padding: 0.8vw;
    border-radius: 2vh;
    border: none;
}

#search5{
    display: none;
}

.btn:hover{
    background-color: #19576c;
}
/*------------------------------------------

検索結果表示

------------------------------------------*/
.search-box{
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
    border-radius: 0.5rem;
}

/*------------------------------------------

体験一覧

------------------------------------------*/
.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 8vh;
}

.main-container{
    width: 100%;
    
}

.title{
    font-size: 2.5vw;
    padding: 1vw;
}

.box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content{
    width: 17%;
    margin: 1vw;
    position: relative;
    /* overflow: hidden; */
}

.content-img img{
    display: inline-block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 0.5rem;
}

.content-info:hover{
    opacity: 0.6;
}

.content-title{
    font-size: 1vw;
    padding: 0.2vw 0;
    margin: 0.8vw 0;
    overflow: hidden;
    font-weight: bold;
}

.host-info{
    display: flex;
    align-items: center;
}

.host-info:hover{
    color: #298BAD;
    opacity: 0.6;
}

.host-img-box{
    width: 15%;
}

.host-img{
    width: 100%;
    border-radius: 50%;
}

.nickname{
    font-size: 1.8vh;
    overflow: hidden;
    margin: 0 0.8vw;
}

.content-text{
    color: #000;
    font-size: 1.1vw;
    padding: 0.5vw;
    margin: 0.8vw;
    height: 20vh;
    overflow: scroll;
}
