/*------------------------------------------

全体 

------------------------------------------*/
.wrap{
}


/*------------------------------------------

※ヘッダーのレイアウトはheader.cssに記載 

------------------------------------------*/


/*------------------------------------------

ファーストビュー

------------------------------------------*/
.firstview{
    width: 100%;
    height: 80vh;
    position: relative;
    background-image: url("../background_img/top.png");
    background-size: cover;
}

.main-img img{
    width: 100%;
}

.firstview-text{
    position: absolute;
    top: 10%;
    left: 50%;
}

.firstview-text p{
    font-size: 3.5vw;
    font-weight: bold;
    color: #fff;
    margin: 2vw;
    letter-spacing: 0.5vw;
}
/*------------------------------------------

体験一覧

------------------------------------------*/
.main{
    width: 95%;
    margin: 0 auto;
    margin-top: 8vh;
}

.title{
    font-size: 2.5vw;
    padding: 1vw;
}

.box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content{
    width: 31%;
    margin: 1vw;
    position: relative;
    overflow: hidden;
}

.content-img img{
    display: inline-block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content-title{
    color: #000;
    font-size: 1.5vw;
    padding: 1vw;
}

.content-text{
    color: #000;
    font-size: 1.2vw;
    padding: 1vw;
}