/*------------------------------------------------ 

プロフィール一覧のレイアウト

------------------------------------------------*/
.box{
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 3vh;
}

/*------------------------------------------------ 

プロフィール画像

------------------------------------------------*/
.user-img{
    width: 40%;
    margin: 3vw 1vw;
}

.img-box {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 0.5rem;
    height: 55vh;
}

.img-box img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
    border-radius: 0.5rem;
}


/*------------------------------------------------ 

プロフィールテキスト

------------------------------------------------*/
.user-info{
    width: 60%;
    margin: 2vw;
}

.title{
    margin: 1.5vw 0;
    padding: 1vw;
    font-size: 1.2vw;
    background-color: #298BAD;
    color: #fff;
    border-radius: 0.5rem;
}

.text{
    margin: 1.5vw 0;
    padding: 1vw;
    font-size: 1vw;
}

.introduction{
    line-height: 3.5vh;
}

.edit{
    width: 50%;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 15px;
    background-color: #989898;
    border: none;
    border-radius: 0.5rem;
}

.edit a{
    color: #fff;
    font-size: 1vw;
    display: block;
    text-align: center;
}

.host-btn{
    width: 50%;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 15px;
    background-color: #F62B5D;
    border: none;
    border-radius: 0.5rem;
}

.host-btn a{
    color: #fff;
    font-size: 1vw;
    display: block;
    text-align: center;
}