h1 {
  text-align: center;
  padding: 5vh;
}

.contents {
  background-color: #f4f4f4;
}

.user_reservation {
  width: 50%;
  margin: 0 auto;
  padding: 3vh;
  background-color: white;
  border-radius: 0.4rem;
}

.reservation_image {
  text-align: center;
  padding: 5vh;
}

.reservation_image img{
border-radius: 0.5rem;
}

.reservation_img {
  width: 400px;
}

.project_contents {
  padding: 10px 10px 10px 30px;
}

#review_show{
  padding: 2vw 0;
}

.favo-btn{
  margin: 1vw 4vw;
}

.favo-register-btn{
  margin: 0 2vw;
}

.favo-btn01 {
  background-color: white;
  color: #5c5c5c;
  border: #5c5c5c 1px solid;
  border-radius: 0.4rem;
}

.register_done {
  /* line-height: 24px; */
  padding: 10px 10px 10px 30px;
}

.reservation_time {
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  justify-content: space-around;
  padding: 10px 10px 10px 30px;
  border: 2px solid #f4f4f4;
}

.reservation_date {
  line-height: 26px;
}

.go {
  width: 13vw;
  height: 4.5vh;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #f62b5d;
}

.confirm_contents {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.thx_comment {
  margin-top: 100px;
}

.reservation-possible{
  height: 50vh;
}

.reservation-empty-text{
  text-align: center;
}