.title{
    margin: 2vw;
    text-align: center;
    padding-top: 180px;
}

.btn{
    margin: 0 2vw;
}

.btn a{
    margin: 0 2vw;
    color:#fff;
}


.center{
    text-align: center;
    padding-top: 60px;
}