h1 {
  text-align: center;
  padding: 20px 20px;
}

.contents {

  background-color: #f4f4f4;
}

.user_reservation_list {
  display: flex;
}

.project_title {
  color: #268cb6;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 10px 30px;
}

.project_contents {
  padding: 5px 10px 5px 30px;
}

.btn {
  height: 30px;
  line-height: 30px;
}

.cancel {
  margin-left: 100px;
  margin-top: 100px;
  background-color: white;
  color: #5c5c5c;
  border: #5c5c5c 1px solid;
}

.detail {
  background-color: #F62B5D;
  margin-left: 10px;
  margin-top: 100px;
}

.btn .back {
  width: 13vw;
  height: 4.5vh;
  background-color: #298BAD;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border-radius: 0.5rem;
}

.go {
  background-color: #F62B5D;
  margin-left: 10px;
}

.user_reservation {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.4rem;
}

.project_button {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.yes {
  width: 13vw;
  height: 4.5vh;
  background-color: white;
  color: #5c5c5c;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border-radius: 0.5rem;
  margin-left: 10px;
}

