h1 {
  text-align: center;
  padding: 20px 20px;
}

.main{
  height: 100%;
}

.contents {
  background-color: #f4f4f4;
}

.user_reservation_list {
  display: flex;
  padding: 3vh;
}

.user_reservation_list img{
  border-radius: 0.5rem;
}

.project_title {
  color: #268cb6;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 10px 30px;
}

.project_date {
    padding: 10px 10px 30px 30px;
}

.project_contents-title {
  padding: 0.5vw 3vw;
  font-weight: bold;
}

.project_contents {
  padding: 0.5vw 3vw;
}

.btn {
  height: 30px;
  line-height: 30px;
}

/* a.cancel {
  margin-left: 100px;
  margin-top: 100px;
  background-color: white;
  color: #5c5c5c;
  border: #5c5c5c 1px solid;
} */

.cancel {
  background-color: white;
  color: #5c5c5c;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border: #5c5c5c 1px solid;
  margin-left: 10px;
}

.detail {
  background-color: #f62b5d;
  margin-left: 10px;
}

.go {
  background-color: #f62b5d;
  margin-left: 10px;
}

.user_reservation {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.4rem;
  margin-bottom: 20px;
}

.project_button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.yes {
  width: 13vw;
  height: 4.5vh;
  background-color: white;
  color: #5c5c5c;
  font-weight: bold;
  text-align: center;
  line-height: 4.5vh;
  border-radius: 0.5rem;
  margin-left: 10px;
}
